<%- include('partials/_header', { title: 'Chat App' }) %>
  <h1>Welcome to the Chat App</h1>
  <div>
    <a href="/auth/signup">Sign Up</a> | <a href="/auth/login">Log In</a>
  </div>
<%- include('partials/_footer') %>