<%- include('partials/_header', { title: 'Whatsupp' }) %>
  
  <div class="login-signup">
    <div>
      <h1>Welcome to the Whatsupp</h1>
      <p>Start chatting with your friends! after login</p>

      <a href="/auth/signup">Sign Up</a> | <a href="/auth/login">Log In</a>
    </div>
  </div>
<%- include('partials/_footer') %>