<%- include('partials/_header', { title: 'Select a User to Chat With' }) %>
    <div class="container">
        <%- include('partials/_sidebar', { users, token }); %>
        <div class="main-content">
          <h1>Select a User to Chat With</h1>
          <p>Click on a user from the sidebar to start chatting.</p>
        </div>
    </div>
<%- include('partials/_footer') %>